* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 30px;
    padding: 2em;
    max-height: 100vh;
    font-family: 'Epilogue', sans-serif;
    margin: 0;
    background-color: hsla(0, 0%, 98%);
    min-height: 100vh;
}

#dropdown-icon {
    display: none;
}

header {
    display: inline;
}

.dropdown {
    display: none;
    position: absolute;
    top: 2em;
    left: 1em;
    box-shadow: 5px 5px 5px 2px rgb(58, 55, 55);
    width: 10rem;
    padding: 10px;
    background-color: hsl(0, 0%, 95%);
    z-index: 1;
}

 .show {
        display: block;
    }

#company-dropdown {
    left: 12em;
}
.dropdown a {
    display: inline-block;
    width: 100%;
    padding: 10px 3px;  
    margin: 5px 0;
}

.dropdown a:hover {
    background-color: hsl(0, 4%, 24%);
    color: hsl(0, 0%, 98%);
}

nav, nav>div {
    display: inline;   
}

#nav-btn {
    float: right;
}

nav a {
    text-decoration: none;
    color: hsl(0, 0%, 41%);
    margin-right: 25px;
    vertical-align: super;
}
.nav-logo {
    margin-right: 20px;
}
#nav-bar {
    display: inline-block;
    position: absolute;
    padding: 0 30px;
    width: 100%;
    top: 2.2em;
}
 #nav-bar > a {
    padding: 14px 16px;
} 


#nav-btn > button{
    vertical-align: super;
}

#nav-btn > button:first-child {
    margin-right: 20px;
}

#login {
    background: none;
    border: none;
    color: hsl(0, 0%, 41%);
}
#register {
    background: none;
    border: 2px solid hsl(0, 0%, 41%);
    border-radius: 10px;
    padding: 10px;
    color: hsl(0, 0%, 41%);
}
main {
    height: 600px;
}

.flex-container {
    display: flex;
    flex-direction: row;
    margin: 100px 0 100px 0;
    justify-content: space-around;
    height: 580px;
    
}

#hero-img {
    background-image: url("./images/image-hero-desktop.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 50rem;
    width: auto;
}

footer {
    height: 50px;
}
.attribution {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

#heading>h1 {
    font-weight: 700;
    font-size: 50px;
    margin: 15px;
    margin-bottom: 30px;
    color: hsl(0, 0%, 8%);
}
#paragraph>p {
    font-size: 18px;
    font-weight: 500;
    color: hsl(0, 0%, 41%);
    margin: 15px;
    margin-bottom: 30px;
    line-height: 24px;
}

span>button {
    background: hsl(0, 0%, 8%);
    border: none;
    border-radius: 10px;
    padding: 15px;
    color: hsl(0, 0%, 98%);
    margin: 15px;
    margin-bottom: 60px;
}

#container-text {
    margin: 0;
    padding: 20px;
    height: fit-content;
}
.text {
    display: block;
}
#container-hero {
    position: relative;
    top: -220px;
    margin: 20px;
    padding: 20px;
    height: auto;
    width: 29rem;
}
#container-hero>#hero-img {
    vertical-align: middle;
}

#sponsors {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


@media only screen and (max-device-width: 480px) {
    #dropdown-icon {
        display: block;
        float: right;
    }
   .dropdown {
        display: none;
        position: relative;
        left: 1em;
        top: 0;
        box-shadow: none;
        padding: 0;
        background: none;
        z-index: 0;
    }
    #company-dropdown {
        left: 1em;
    }
    
    .dropdown a {
        display: inline-block;
        width: 100%;
        margin: 15px 0;
        padding: 5px 3px;
        margin: 5px;
    }
  
    #nav-bar>a {
        padding: 0.7em;
        display: block;
    }


    nav {
        height: 100%;
        width: 60%;
        position: absolute;
        background-color: hsl(0, 0%, 98%);
        z-index: 1;
        right: 0;
        display: none;
        padding: 10px;
    }
    .show {
        display: block;
    }

    #nav-bar {
        position: relative;
    }

    #nav-btn button {
        display: block;
        width: 85%;
        text-align: center;
        font-size: 17px;
    }
    #login {
        margin-bottom: 1em;
    }

    #nav-btn {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
    }

    .flex-container {
        flex-direction: column-reverse;
        position: relative;
        justify-content: center;
        align-items: center;
        margin: 100px 0 25px 0;
    }
    body {
        max-height: 100vh;
        margin: 1.5rem;
        padding: 0;
    }
    main {
        height: auto;
        margin: 0;
        padding: 0;
        width: auto;
        height: 650px;
    }
    #hero-img {
        background-image: url("./images/image-hero-mobile.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        height: 250px;
        width: auto;
    }
    #container-hero {
        top: -30px;
        margin: 0;
        padding: 0;
        text-align: center;
    }
    #container-text {
        margin-top: 25px;
        text-align: center;
        margin: 0;
    }
    #heading>h1 {
        font-size: 30px;
        font-weight: 700;
        width: 330px;
        margin: 0;
        padding: 0 0 10px 0;
    }
    .text {
        display: inline;
    }
    footer {
        height: 25px;
    }
    .attribution {
        height: 25px;
    }
    #paragraph>p {
        margin: 10px 0;
    }
    #sponsors {
        justify-content: space-between;
    }
    #sponsors img {
        height: 1.1em;
        width: auto;
    }
}
